.movie-card {
    display: flex;
    flex-direction: column;
    background: #FDFDFD;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    max-width: 364px;
    min-width: 200px;
    padding: 0 0 0 1px;
}

.movie-card__header {
    display: flex;
    justify-content: space-between;
    padding: 13.5px;
}

.movie-card__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin: 0 0 4px;
    padding: 0;
}

.movie-card__time {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    padding: 0;
    color: #A0A0A0;
}

.movie-card__image {
    width: 100%;
    height: auto;
}

.movie-card__info {
    text-align: start;
}

.movie-card__save-button {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    background-image: url('../../images/save.svg');
    border-radius: 50%;
}

.movie-card__save-button_active {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    background-image: url('../../images/save-active.svg');
    border-radius: 50%;
}