.portfolio-link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.portfolio-link__container {
    height: 68px;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.portfolio-link__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    margin: 0;
    padding: 0;
}

.portfolio-link__icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}

@media screen and (max-width: 768px) {
.portfolio-link__title {
    font-size: 28px;
}
}

@media screen and (max-width: 550px) {
.portfolio-link__title {
    font-size: 18px;
line-height: 28px;
}

.portfolio-link__container {
    height: 47px;
}

.portfolio-link__icon {
    width: 9px;
    height: 16px;
    margin-right: 5px;
}
}