.header {
    width: 100%;
    padding: 18px 70px;
    box-sizing: border-box;
    background-color: '#fff';
    color: #000
}

.header_type_dark {
    background-color: #5C5C5C;
    color: #fff;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.header__link {
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

.header__link_type_register {
    margin-top: 4px;
    color: #fff;
}

.header__link_type_films {
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin-top: 11px;
}

.header__link_type_is-active {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.header__button {
    background: #2BE080;
    border-radius: 3px;
    border: none;
    margin-top: -4px;
    padding: 9px 20px;
}

.header__link-container {
    display: flex;
    gap: 30px;
}

.header__link-container_type_film {
    gap: 45px;
}

.header__link-container_type_user-links {
    gap: 18px;
}

.header__profile-button {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background-color: #fff;
    box-shadow: 0px 3px 14px rgb(0 0 0 / 8%);
    border-radius: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    padding: 4px 2px 4px 12px;
    border: none;
    margin-top: -4px;
}

.header__profile-icon {
    background-color: #F9F9F9;
    border: none;
    border-radius: 50%;
    padding: 7px;
}

@media screen and (max-width: 768px) {
.header {
 padding: 18px 31px 18px 30px;
}

.header__link_type_is-active {
    font-size: 22px;
line-height: 27px;
border-bottom: 2px solid #000;
}
}

@media screen and (max-width: 550px) {
    .header {
        padding: 18px 14.5px 18px 14px;
    }

    .header__link {
        font-size: 10px;
    }

    .header__link_type_register {
        margin-top: 1px;
    }

    .header__button {
        padding: 7px 12px;
    }

    .header__link-container {
        gap: 15px;
    }
}