.header {
    width: 100%;
    background-color: #5C5C5C;
    padding: 18px 70px;
    box-sizing: border-box;
}

.header_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.header_logo {
    width: 38px;
    height: 38px;
}

.header_link {
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

.header_link_type_register {
    margin-top: 4px;
}

.header_button {
    background: #2BE080;
    border-radius: 3px;
    border: none;
    margin-top: -4px;
    padding: 9px 20px;
}

.header_link-container {
    display: flex;
    gap: 30px;
}