.navbar {
    width: 100%;
    padding: 23.5px 70px 24.5px;
    box-sizing: border-box;
    background-color: #F5F5F5;
    color: #000;
}

.navbar__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbar__button {
font-weight: 500;
font-size: 13px;
line-height: 16px;
border: none;
border-bottom: 1.6px solid #000;
background: none;
}

@media screen and (max-width: 550px) {
.navbar {
    padding: 23.5px 40px 24.5px;
}

.navbar__button {
    font-size: 11px;
}

.navbar_list {
    gap: 25px;
}
}
