.navbar {
    width: 100%;
    padding: 23.5px 70px 24.5px;
    box-sizing: border-box;
    background-color: #F5F5F5;
    color: #000;
}

.navbar_list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbar_link {
font-weight: 500;
font-size: 13px;
line-height: 16px;
border-bottom: 1.6px solid #000;
}
