.profile-info {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    padding: 16.5px 0 15px;
    border-bottom: 1px solid #e8e8e8;
}

.profile-info:last-child {
    border-bottom: none;
}

.profile-info__title {
    font-weight: 500;
}

.profile-info__input {
    border: none;
    text-align: right;
    margin-right: -2px;
}

.profile-info__input_active {
    outline: 1px solid #2BE080;
    border-radius: 10px;
}

.profile-info__input:focus {
    outline:none;
}

.profile-info__input_active:focus {
    outline: 1px solid #2BE080;
    border-radius: 10px;
}

@media screen and (max-width: 768px) { 
.profile-info {
    padding: 18.5px 0 15px;
}

}